@{
    Layout = null;
}
@model CloudNote.Service.UserApp.Dtos.UserDto
<link href="~/layui/dist/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui/dist/layui.js"></script>
<div style="margin:15px;">
    <form class="layui-form">
        <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <input type="hidden" name="id" value="@Model.Id"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="UserName" value="@Model.UserName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" name="NickName" value="@Model.NickName" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        @*<div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-block">
                    <input type="text" name="Age" value="@Model.Age" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">民族</label>
                <div class="layui-input-block">
                    <input type="text" name="Ethnicity" value="@Model.Ethnicity" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="Email" value="@Model.Email" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
            </div>
         
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <select name="Sex" lay-filter="aihao" value="@Model.Sex" lay-verify="required">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input type="text" name="Phone" value="@Model.Phone" placeholder="请输入" lay-verify="required|phone" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="Address" value="@Model.Address" lay-verify="title" autocomplete="off" placeholder="地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">个性签名</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="PersonalSignature" value="@Model.PersonalSignature" class="layui-textarea"></textarea>
            </div>
        </div>*@
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="fromSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
</div>

<script>
    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        debugger;
        form.on('submit(fromSubmit)', function (data) {
            console.log(JSON.stringify(data.field));        
            $.ajax({
                type: "post",
                dataType: "json",
                data: data.field,
                url: '@Url.Action("Save", "User")',
                success: function (message) {
                    if (message == "") {
                        layer.msg('信息修改成功');                   
                        parent.layer.closeAll()
                        parent.reload();
                        //$.post('Index?id=' + data.field.id);
                    }
                    else {
                        layer.msg(message);
                        return false;
                    }
                }, error: function (e) {
                    layer.msg("请求异常，请重试", { shift: 6 })
                }
            })
            return false;
         });
    });
</script>