@{
    Layout = null;
}
@model CloudNote.Service.UserApp.Dtos.UserDto
<link href="~/layui/dist/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui/dist/layui.js"></script>
<div style="margin:15px;">
    <form class="layui-form" id="setRole">
        <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->

        <div class="layui-form-item">
            <div class="layui-input-block">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <label>@Model.UserName</label>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-fluid">
            <div class="layui-row">
                @{
                    var roleCount = 0;
                    var roleList = ViewBag.RoleData as List<CloudNote.Service.RoleApp.Dtos.RoleDto>;
                    if (roleList != null)
                    {
                        foreach (var role in roleList)
                        {                          
                            var isChecked = string.Empty;
                            foreach (var userRoel in Model.UserRoles)
                            {
                                if (userRoel.RoleName == role.RoleName)
                                {
                                    isChecked = "checked";
                                    break;
                                }
                            }                     
                            <input type="hidden" name="dtoList[@roleCount].UserId" value="@Model.Id" />
                            <input type="hidden" name="dtoList[@roleCount].UserName" value="@Model.UserName" />
                            <input type="hidden" name="dtoList[@roleCount].RoleName" value="@role.RoleName" />
                            <div class="layui-col-sm4 layui-col-md3 layui-col-lg2">
                                <input type="checkbox" name="dtoList[@roleCount].RoleId" title="@role.RoleName" value="@role.Id" @isChecked>
                            </div>
                            roleCount++;
                        }
                    }
                    else
                    {
                        <a>请创建角色！</a>
                    }
                }
            </div>
        </div>
            @*<div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="fromSubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>*@
            <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
        </form>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="test" lay-filter="test"></table>
    </div>
</div>
<script>
    function userRoleSubmit() {
        var userRole = [];
        $('input:checked').each(function () {
            var data = { UserId: '@Model.Id', UserName: '@Model.UserName', RoleName: this.title, RoleId: this.value };
            userRole.push(data);
        });
        console.log(userRole);
        var data = { 'userId': '@Model.Id', 'userRole': userRole };
        $.ajax({
            type: "post",
            dataType: "json",
            data: data,
            url: '@Url.Action("UserRoleSave", "User")',
            success: function (message) {
                if (message == "") {
                    obj.del();
                    layer.close(index);
                    layer.msg('删除成功');
                }
                else {
                    layer.msg(message);
                    return false;
                }
            }, error: function (e) {
                layer.msg("请求异常，请重试", { shift: 6 })
            }
        });
    }
</script>